// presets

$primary: #126BFB;
$secondary: #EEF4FF;
$action: #7BB8FA;
$gray: #3e3d42;
$black: #282828;



@keyframes openMenu {
    0% {
        transform: translateX(125px);
        height: 75px;
    }

    100% {
        transform: translateX(0px);
        height: 250px;
    }
}

.mobile-menu {
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 75px;
    background-image: linear-gradient(black, rgba(128, 128, 128, 0.171));
    transform: translateX(125px);
    border-bottom-left-radius: 20%;
    position: absolute;
    display: none;
    right: -300px;



    .menu-button {
        position: absolute;
        width: 32px;
        height: 32px;
        object-fit: cover;
        top: 24px;
        left: 24px;
    }

    ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        transform: translateX(50px);

        li {
            font-weight: 700;
            color: $secondary;
            transition: all 125ms ease-in-out;
            cursor: pointer;
            margin-top: 12px;
            margin-bottom: 12px;

            &:hover {
                color: $secondary;
                text-shadow: 0 0 10px $action,
                    0 0 20px $action,
                    0 0 40px $action;
                -webkit-box-reflect: below -10px linear-gradient(transparent, $action);
                transition: all 125ms ease-in-out;
                animation: animReflection 75ms ease-in-out;
            }
        }
    }

}

.openMenu {
    animation: openMenu 225ms ease-in-out !important;
    transform: translateX(0px);
    height: 250px;
}

@media only screen and (max-width: 720px) {
    .mobile-menu {
        display: block;
    }
}


header {
    position: fixed;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(black, transparent);
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 84px;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;

        .menu-button {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }

        ul {
            display: flex;
            list-style-type: none;
            position: relative;

            li {
                margin-left: 64px;
                font-weight: 700;
                color: $gray;
                transition: all 125ms ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $secondary;
                    text-shadow: 0 0 10px $action,
                        0 0 20px $action,
                        0 0 40px $action;
                    -webkit-box-reflect: below -10px linear-gradient(transparent, $action);
                    transition: all 125ms ease-in-out;
                    animation: animReflection 75ms ease-in-out;
                }
            }
        }

        @keyframes animReflection {
            0% {
                -webkit-box-reflect: below 0px linear-gradient(transparent, $action);
            }

            5% {
                -webkit-box-reflect: below -1px linear-gradient(transparent, $action);
            }

            10% {
                -webkit-box-reflect: below -2px linear-gradient(transparent, $action);
            }

            15% {
                -webkit-box-reflect: below -3px linear-gradient(transparent, $action);
            }

            20% {
                -webkit-box-reflect: below -4px linear-gradient(transparent, $action);
            }

            30% {
                -webkit-box-reflect: below -5px linear-gradient(transparent, $action);
            }

            40% {
                -webkit-box-reflect: below -6px linear-gradient(transparent, $action);
            }

            50% {
                -webkit-box-reflect: below -7px linear-gradient(transparent, $action);
            }

            60% {
                -webkit-box-reflect: below -8px linear-gradient(transparent, $action);
            }

            70% {
                -webkit-box-reflect: below -9px linear-gradient(transparent, $action);
            }

            80% {
                -webkit-box-reflect: below -10px linear-gradient(transparent, $action);
            }

            90% {
                -webkit-box-reflect: below -10px linear-gradient(transparent, $action);
            }

            100% {
                -webkit-box-reflect: below -10px linear-gradient(transparent, $action);
            }
        }

        @keyframes animActive {

            0%,
            100% {
                text-shadow: none;
            }

            25%,
            75% {
                text-shadow: 0 0 10px $action,
                    0 0 20px $action,
                    0 0 40px $action;
            }

        }

        .imgInvert {
            filter: invert(1);
            width: 48px;
            height: 100%;
            object-fit: cover;
        }

        @media only screen and (max-width: 720px) {
            ul {
                a {
                    display: none;
                }
            }
        }
    }
}

.link-active {
    color: $secondary !important;
    -webkit-box-reflect: below -10px linear-gradient(transparent, $action);
    animation: animActive 5s ease-in-out infinite;
    transition: all 125ms ease-in-out;

    &:hover {
        animation: none !important;
        transition: all 125ms ease-in-out;
    }
}