<footer>
    <div class="content">
        <div class="links-left">
            <a routerLink="imprint">Imprint</a>
            -
            <a routerLink="legal-notice">Legal Notice</a>
        </div>
        <div class="links-right">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/j%C3%BCrgen-rogozin-62811a250/"><img src="../../assets/img/icons/linkedin-box-fill.png"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/RogoJuerg"><img src="../../assets/img/icons/github-fill.png"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.xing.com/profile/Juergen_Rogozin/cv"><img src="../../assets/img/icons/xing-fill.png"></a>
        </div>
    </div>
</footer>