<main id="aboutMe">
    <div class="top">
        <div class="image">
            <img src="../../assets/img/photo-juergen.png">
        </div>
        <div class="title-text">
            <h2>About me</h2>
            <p> " I'm a car enthusiast, computer freak and front end developer who loves pushing boundaries "</p>
        </div>
    </div>
    <div class="bottom">
        <div class="text-section">
            <img src="../../assets/img/icons/walk-line.png">
            <h3 class="title">I STARTED</h3>
            <p class="text">as a retail merchandiser and right after my internship I became a market manager. I ended up becoming a district manager two years ago, but somehow I always end up programming at home.</p>
        </div>

        <div class="text-section">
            <img src="../../assets/img/icons/heart-line.png">
            <h3 class="title">MY AMBITION</h3>
            <p class="text">is to develop myself quickly to expand my skills. This not only applies to programming but also to my personality.</p>
        </div>

        <div class="text-section">
            <img src="../../assets/img/icons/search-line.png">
            <h3 class="title">MY PASSION</h3>
            <p class="text">has always been computers and video games. I have always dreamed of being involved in the latest technology and software. This thought has never left me and now I am following my passion to achieve this goal.</p>
        </div>

        <div class="text-section">
            <img src="../../assets/img/icons/flight-takeoff-line.png">
            <h3 class="title">MY GOAL</h3>
            <p class="text">is to add value to my work and to improve and help shape software through my actions. Good usability and a great user experience are huge incentives for me to achieve this.</p>
        </div>
    </div>

    
</main>