// presets

$primary: #126BFB;
$secondary: #EEF4FF;
$action: #7BB8FA;
$gray: #3e3d42;
$black: #282828;
$bgyellow: rgba(217, 255, 0, 0.534);
$bgblue: rgba(0, 255, 242, 0.333);


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 48px 0 48px 0;

    .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $action;
        padding-top: 24px;
        padding-bottom: 48px;


        .image {
            img {
                width: 240px;
                height: 100%;
                -webkit-transform: scaleX(-1);
                border-radius: 100%;
                background-color: $bgyellow;
                box-shadow: 0 0 10px $bgyellow,
                    0 0 20px $bgyellow,
                    0 0 40px $bgyellow;
                margin: 12px;
            }
        }

        .title-text {
            width: 50%;
            padding: 12px;
            margin-left: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;

            h2 {
                color: $secondary;
                text-shadow: 0 0 10px $action,
                    0 0 20px $action,
                    0 0 40px $action;
            }

            p {
                color: $action;
                text-shadow: 0 0 10px $action,
                    0 0 20px $action;
                padding: 24px;
                font-size: 22px;
            }
        }

        @media only screen and (max-width: 980px) {
            .title-text {
                width: 90%;
            }
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: space-between;

        .text-section {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 48px;
            color: $action;
            text-shadow: 0 0 10px $action,
                0 0 20px $action;
            width: 25%;
            text-align: center;

            img {
                background: $action;
                border-radius: 100%;
                margin-top: 48px;
                padding: 24px;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-left: 1px solid rgba(255, 255, 255, 0.2);
                box-shadow: 0 0 10px $action,
                    0 0 20px $action,
                    0 0 40px $action;
                width: 32px;
                height: 32px;
            }

            h3 {
                margin-top: 48px;
                color: $secondary;
            }

            p {}
        }

        @media only screen and (max-width: 980px) {
            .text-section {
                width: 75%;
            }

        }
    }
}

@media only screen and (max-width: 980px) {
    .top {
        flex-direction: column;
    }

    .bottom {
        flex-direction: column;
    }
}