<div class="cont-1">
    <div *ngIf="router.url === '/'" class="cont-2">
        <app-header></app-header>
        <app-top-info></app-top-info>
        <app-skills-section></app-skills-section>
        <app-my-work-section></app-my-work-section>
        <app-about-me-section></app-about-me-section>
        <app-contact-me-section></app-contact-me-section>
        <app-footer></app-footer>
    </div>
    <div *ngIf="router.url === '/imprint'" class="cont-2">
        <app-imprint></app-imprint>
    </div>
    <div class="bubbles">
        <span style="--i:31; --j:100"></span>
        <span style="--i:18; --j:-50"></span>
        <span style="--i:14; --j:200"></span>
        <span style="--i:4; --j:-360"></span>
        <span style="--i:44; --j:400"></span>
        <span style="--i:21; --j:100"></span>
        <span style="--i:41; --j:-100"></span>
        <span style="--i:18; --j:100"></span>
        <span style="--i:31; --j:-50"></span>
        <span style="--i:14; --j:200"></span>
        <span style="--i:12; --j:-360"></span>
        <span style="--i:32; --j:100"></span>
        <span style="--i:20; --j:52"></span>
        <span style="--i:54; --j:-500"></span>
        <span style="--i:16; --j:300"></span>
        <span style="--i:11; --j:-100"></span>
        <span style="--i:7; --j:50"></span>
        <span style="--i:48; --j:400"></span>
        <span style="--i:21; --j:-200"></span>
        <span style="--i:41; --j:360"></span>
        <span style="--i:51; --j:-100"></span>
        <span style="--i:9; --j:50"></span>
        <span style="--i:32; --j:100"></span>
        <span style="--i:20; --j:52"></span>
        <span style="--i:54; --j:-500"></span>
        <span style="--i:16; --j:300"></span>
        <span style="--i:11; --j:-100"></span>
        <span style="--i:34; --j:200"></span>
        <span style="--i:47; --j:350"></span>
        <span style="--i:11; --j:-100"></span>
        <span style="--i:29; --j:52"></span>
        <span style="--i:44; --j:400"></span>
        <span style="--i:7; --j:-300"></span>
    </div>
</div>