// presets

$primary: #126BFB;
$secondary: #EEF4FF;
$action: #7BB8FA;
$gray: #3e3d42;
$black: #282828;
$bgyellow: rgba(217, 255, 0, 0.534);
$bgblue: rgba(0, 255, 242, 0.333);

.main {
    margin-top: 160px;
    margin-bottom: 80px;
    color: $action;
}

h2, h3, h1 {
    color: $secondary;
    text-shadow: 0 0 10px $action,
        0 0 20px $action,
        0 0 40px $action;
}

p, a, li {
    color: $action;
    text-shadow: 0 0 10px $action,
        0 0 20px $action;
    padding: 24px;
    font-size: 16px;
}