// presets

$primary: #126BFB;
$secondary: #EEF4FF;
$action: #7BB8FA;
$gray: #3e3d42;
$black: #282828;

h1 {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    padding: 24px;
    position: relative;
    width: 400px;
    height: 300px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    flex-direction: column;
    position: relative;
    margin: 12px;
    &:hover ~ .overlay-cont {
        display: block;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 12px 0 12px 0;

        h2 {
            margin: 6px 0 40px 0;
            color: $action;
            text-shadow: 0 0 10px $action,
                0 0 20px $action,
                0 0 30px $action;
            -webkit-box-reflect: below -8px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
        }

        p {
            margin: 0;
            color: $secondary;
            text-shadow: 0 0 10px $action,
                0 0 20px $action;
            -webkit-box-reflect: below -8px linear-gradient(transparent, rgba(0, 0, 0, 0.1));
        }
    }

    img {
        width: 200px;
        height: 100%;
        object-fit: contain;
        -webkit-box-reflect: below -112px linear-gradient(transparent, rgba(0, 0, 0, 0.05));
    }

    .overlay-cont {
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms ease-in-out;

        

        button {
            display: none;
            background: #282828;
            border: 1px solid $action;
            border-radius: 20px;
            width: 200px;
            height: 50px;
            margin: 8px;
            color: $action;
            font-weight: 600;
            font-size: 1em;
            cursor: pointer;

            &:hover {
                background-color: #126BFB;
            }
        }
    }
}