<main>
    <h2>My Work</h2>
    <button (click)="changeSort('javascript')">JavaScript</button>
    <button (click)="changeSort('angular')">Angular</button>
    <button (click)="changeSort('all')">All</button>
    <div class="card-container">
        <!-- My Project will be rendered here with a for loop -->
        <div class="card" *ngFor="let project of filterFunk()">
            <div class="img-cont" *ngFor="let language of project.programming; let i = index" [ngStyle]="{'right.px': 20 + (i * 90)}">
                <img src="{{ language }}">
            </div>
            <div class="left-side">
                <img src="{{ project.appImg }}">
            </div>
            <div class="right-side">
                <div class="text">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.description }}</p>
                </div>
                <div class="buttons">
                    <a target="_blank" rel="noopener noreferrer" href="{{ project.linkGit }}"><button>Git</button></a>
                    <a target="_blank" rel="noopener noreferrer" href="{{ project.linkPage }}"><button>Try it</button></a>
                </div>
            </div>
        </div>
    </div>
</main>