<main>
    <div class="card-container">
        <div class="card" aTilt>
            <img src="../../assets/img/App-Showcase-lieferheroes.png">
            <div class="text">
                <h2>Lieferheroes</h2>
                <p>A clone of a popular food delivery service in germany written in JavaScript</p><br>
            </div>
            <div class="overlay-cont">
                <button>Click</button>
                <button>Click</button>
            </div>
        </div>

        <div class="card" aTilt>
            <img src="../../assets/img/App-Showcase-lieferheroes.png">
            <div class="text">
                <h2>Join</h2>
                <p>A Kanban board</p><br>
                <p>written javascript</p>
            </div>
            <div class="overlay-cont">
                <button>Click</button>
                <button>Click</button>
            </div>
        </div>

        <div class="card" aTilt>
            <img src="../../assets/img/App-Showcase-lieferheroes.png">
            <div class="text">
                <h2>Lieferheroes</h2>
                <p>A clone of a popular food delivery service in germany</p><br>
                <p>written javascript</p>
            </div>
            <div class="overlay-cont">
                <button>Click</button>
                <button>Click</button>
            </div>
        </div>
    </div>
</main>