<main>
    <h2>My Work</h2>
    <div class="card-container">

        <!-- Lieferheroes -->
        <div class="card">
            <div class="img-cont" style="right: 0;">
                <img src="../../assets/img/icons/javascript.png">
            </div>

            <div class="img-cont" style="right: 80px;">
                <img src="../../assets/img/icons/htmlcss.png">
            </div>

            <div class="left-side">
                <img src="../../assets/img/App-Showcase-lieferheroes.png">
            </div>
            <div class="right-side">
                <div class="text">
                    <h2>Lieferheroes</h2>
                    <p>A clone of a popular food delivery service in germany written in vanilla JavaScript</p>
                </div>
                <div class="buttons">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/RogoJuerg/Join"><button>Git</button></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://juergen-rogozin.developerakademie.net/Lieferando/index.html"><button>Try it</button></a>
                </div>
            </div>
        </div>

        <!-- JOIN -->
        <div class="card">
            <div class="img-cont" style="right: 0;">
                <img src="../../assets/img/icons/javascript.png">
            </div>

            <div class="img-cont" style="right: 80px;">
                <img src="../../assets/img/icons/htmlcss.png">
            </div>

            <div class="left-side">
                <img src="../../assets/img/App-Showcase-Join.png">
            </div>
            <div class="right-side">
                <div class="text">
                    <h2>JOIN</h2>
                    <p>A Kanban board written in vanilla JavaScript and created as a group project</p>
                </div>
                <div class="buttons">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/RogoJuerg/Join"><button>Git</button></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://gruppe-256.developerakademie.net/index.html"><button>Try it</button></a>
                </div>
            </div>
        </div>

    </div>
</main>